.DS_Store
Spatule-Dorée/vendor
Spatule-Dorée/.env
Spatule-Dorée/.phpunit.cache
Spatule-Dorée/node_modules
Spatule-Dorée/public/build
Spatule-Dorée/public/hot
Spatule-Dorée/public/storage
Spatule-Dorée/storage/*.key
Spatule-Dorée/.env.backup
Spatule-Dorée/.env.production
Spatule-Dorée/.phpunit.result.cache
Spatule-Dorée/Homestead.json
Spatule-Dorée/Homestead.yaml
Spatule-Dorée/auth.json
Spatule-Dorée/npm-debug.log
Spatule-Dorée/yarn-error.log
Spatule-Dorée/.fleet
Spatule-Dorée/.idea
Spatule-Dorée/.vscode
Spatule-Dorée/.env
*.env
Spatule-Dorée/vendor
Spatule-Dorée/package-lock.json
Spatule-Dorée/composer.lock
javaApp/.idea
.idea