@font-face {
	font-family: 'font';
	src: url('./font/font.ttf');
}

.cc-navbar {
	background-color: rgba(0, 0, 0, 0.55);
	font-family: 'font';
	box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.54);
	z-index: 99;
}

.cc-navbar .nav-link {
	border-bottom: 1px solid transparent;
	transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}

.cc-navbar .nav-link:hover {
	padding-bottom: 20px;
	border-bottom-color: var(--bs-teal);
}

.banner,
.order-form {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/banniere2.webp') center center fixed no-repeat;
	background-size: cover;
	height: 800px;
}

.order-form {
	height: 500px;
}

.banner .banner-desc h1 {
	font-size: 48px;
	font-weight: 400;
	color: #fff;
}

.cc-menu {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/banniere8.jpeg') center center fixed no-repeat;
	background-size: cover;
	height: 1200px;
}

.btn-order {
	color: var(--bs-teal);
	border-color: var(--bs-teal);
	transition: 0.5s;
}

.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	color: #fff;
	background-color: var(--bs-teal);
}

img {
	width: auto;
	height: auto;
	border-radius: 56px;
}

#mon-bouton {
	margin-top: 30px;
}

#text-center {
	margin-top: 100px;
}

#text-center2 {
	margin-top: 70px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
	.banner,
	.order-form {
		height: 400px;
	}

	.banner .banner-desc h1 {
		font-size: 32px;
	}

	#text-center {
		margin-top: 50px;
	}

	#text-center2 {
		margin-top: 40px;
	}
}

@media (max-width: 480px) {
	.cc-navbar .nav-link {
		padding-bottom: 10px;
	}

	.banner,
	.order-form {
		height: 300px;
	}

	.banner .banner-desc h1 {
		font-size: 24px;
	}

	#text-center {
		margin-top: 30px;
	}

	#text-center2 {
		margin-top: 20px;
	}
}
